@mixin kutu($borderColor, $margin, $backgroundColor, $hoverBgColor, $boxWidth) {
  border: 1px solid $borderColor;
  margin: $margin;
  height: 100px;
  padding: 20px;
  background-color: $backgroundColor;
  width: $boxWidth;

  &:hover {
    background-color: $hoverBgColor;
  }
}
@mixin font($fontweight, $fontsize, $color) {
  font-family: "Roboto", sans-serif;
  font-weight: $fontweight;
  font-size: $fontsize;
  color: $color;
}
