$generalBackgroundColor: #ffffff;
$generalColor: #0f141a;
$buttonBackgroundColor: #1d9bf0;
$weakFontColor: #71767a;
$borderColor: #eff3f4;
$hrColor: #f0f2f3;
$hoverBgColor: #e7e7e8;
$whatsUpColor: #536471;
$atProfileColor: #536471;
