$generalBackgroundColor: #ffffff;
$generalColor: #0f141a;
$buttonBackgroundColor: #1d9bf0;
$weakFontColor: #71767a;
$borderColor: #eff3f4;
$hrColor: #f0f2f3;
$hoverBgColor: #e7e7e8;
$whatsUpColor: #536471;
$atProfileColor: #536471;
$searchGlassBgColor: #eff3f4;
$searchGlassColor: #6e7d88;
$hashtagsTableBgColor: #f7f9f9;
$titleColor: #0f1419;
$rightMenuTTColor: #657480;
$rightMenuHoverBgColor: #eff1f1;
$profileSettingsBorderColor: #d1d9de;
$buttonHoverBgColor: #198cd8;
