@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

// .monserrat {
//   font-family: "Montserrat", sans-serif;
// }
.roboto {
  font-family: "Roboto";
}
$leftNavFonClick: "Kanit", sans-serif, 500;
$leftNavFon: "Kanit", sans-serif, 300;
